<%- include('includes/header') %>
  </head>

  <body>
    <main>
      <h1>Oops! Something Went Wrong</h1>
      <p>An error occurred while processing your request.</p>
      <p><%= err %></p>
      <p>Please try again or return to the <a href="/">homepage</a>.</p>
    </main>
  </body>
</html>